.HRSection {
  border: 1px solid white;
  width: 100%;
  height: 42rem;
}

.HRSection p {
  width: 40%;
  font-size: 3.1vw;
  color: white;
  position: relative;
  left: 45%;
  top: 20%;
}

.HRSection h1 {
  font-size: 3.1vw;
  position: relative;
  left: 45%;
  top: 20%;
  color: white;
}

.Button {
  padding: 0.7rem 3rem;
  position: relative;
  left: 45%;
  top: 20%;
  color: white;
  font-weight: 540;
  font-size: 1.3rem;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 1.8rem;
  border-color: transparent;
  z-index: 1;
  transition: all 0.2s ease-out;
}

.Button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.Para {
  width: 33vw;
  font-size: 3.2vw;
  margin-left: 15%;
  position: absolute;
  top: 82vw;
  color: white;
}

.StyleDiv1 {
  width: 50rem;
  height: 30rem;
  background-color: #8c445e;
  z-index: -20;
  position: relative;
  left: 33rem;
  bottom: 18rem;
  border-radius: 50%;
}

.StyleDivSmallContainer {
  width: 20rem;
  height: 20rem;
  z-index: -10;
  animation: rotateContainer 5s infinite linear;
  position: relative;
  left: 15rem;
  top: 5rem;
  animation: rotateContainer 5s infinite linear;
}

@keyframes rotateContainer {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.StyleDivSmallCenter {
  width: 18rem;
  height: 4rem;
  box-sizing: border-box;
  background-color: transparent;
  transition: all;
  position: relative;
  left: 1rem;
  bottom: 4rem;
  background-color: #286da8;
}

.StyleDivSmall1,
.StyleDivSmall2,
.StyleDivSmall3,
.StyleDivSmall4,
.StyleDivSmall5,
.StyleSmallDiv6 {
  width: 18rem;
  height: 4rem;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
  background-color: #286da8;
}

.StyleDivSmall1 {
  transform: rotate(30deg);
  top: 7.8rem;
  left: 1.1rem;
  /* animation: div1 7s infinite; */
}

/* @keyframes div1 {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(deg);
  }
} */

.StyleDivSmall2 {
  transform: rotate(60deg);
  top: 3.93rem;
  left: 1.35rem;
}

.StyleDivSmall3 {
  transform: rotate(90deg);
  left: 1.3rem;
}

.StyleDivSmall4 {
  transform: rotate(120deg);
  bottom: 8.05rem;
  left: 1.34rem;
}

.StyleDivSmall5 {
  transform: rotate(150deg);
  bottom: 12rem;
  left: 1rem;
}
