.Employee {
  border: 1px solid white;
  margin: 2rem 0;
  padding: 10rem 2rem;
  width: 100%;
  height: 100%;
}

.Employee h1 {
  font-size: 3.1vw;
  color: white;
  position: relative;
  left: 45%;
}

.Employee p {
  font-size: 3.1vw;
  width: 30vw;
  position: relative;
  left: 45%;
  color: white;
}

.Employee button {
  padding: 0.7rem 3rem;
  position: relative;
  bottom: 83%;
  left: 45%;
  color: white;
  font-weight: 540;
  font-size: 1.3rem;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 1.8rem;
  border-color: transparent;
  z-index: 1;
  transition: all 0.15s ease-out;
}

.Employee button:hover {
  scale: 1.1;
  cursor: pointer;
}
