.BenefitsDiv {
  position: relative;
  top: 2rem;
  padding: 0;
  margin: 0;
}

.BenefitsDiv button {
  font-size: 1rem;
  padding: 11.045px;
  border: none;
  font-weight: 540;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.BenefitsDiv button:hover {
  background-color: black;
  color: white;
}

.BenefitsDiv button:focus,
.BenefitsDiv button:active {
  background-color: black;
  color: white;
  outline: none;
}
