.EmployeeDetailModal {
  background-color: rgb(144, 168, 199);
  position: relative;
  bottom: 45rem;
  right: 8rem;
  margin: 0 auto;
  z-index: 10000000;
  padding-bottom: 4.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  text-align: center;
  transform: translateY(-100rem);
  transition: all 0.15s linear;
}

.CloseModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  height: 1rem;
  transition: all 0.1s ease-out;
  z-index: 1;
}

.CloseModal:hover {
  cursor: pointer;
  transform: scale(1.1);
}

h4 {
  position: relative;
  bottom: 1.3rem;
}

h3 {
  margin: 2rem 3rem;
}

.EmployeeDetailTable {
  width: 90%;
  height: 70%;
  padding: 1rem;
  position: relative;
  top: 1.5rem;
}

.EmployeeDetailTable td {
  padding: 1.5rem 3rem;
  font-size: 1.1rem;
  text-align: left;
  font-weight: 550;
  box-shadow: 0 1px 5px white;
  line-break: loose;
}

.TableRow {
  padding: 1rem;
}

.updateButton {
  position: absolute;
  bottom: 1.5rem;
  right: 10rem;
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: black;
  color: white;
  transition: all 0.15s linear;
}

.updateButton:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.deleteButton {
  position: absolute;
  bottom: 1.5rem;
  right: 4rem;
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: black;
  color: white;
  transition: all 0.15s linear;
}

.deleteButton:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.InputElement {
  outline: none;
  font: inherit;
  padding: 7px;
  margin: 1vw;
  background-color: #f5f5f5;
  width: 34%;
  box-sizing: border-box;
  border: 4px solid transparent;
  border-radius: 5px;
}

.textArea {
  width: 34%;
  height: 20%;
  padding: 0.6vw;
  overflow: hidden;
  display: block;
  position: relative;
  left: 14.2%;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border: 4px solid transparent;
  margin-top: 15px;
  border-radius: 5px;
  resize: none;
}

.selectElement {
  padding: 7px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 3px solid transparent;
  width: 34%;
  box-sizing: border-box;
}

.InputElement[type='date']::before {
  content: attr(placeholder);
  width: 100%;
}

.updateDetailsButton {
  font-size: 1vw;
  font-weight: bold;
  white-space: nowrap;
  height: 2.5vw;
  box-sizing: border-box;
  background-color: black;
  margin-top: 1.5rem;
  position: relative;
  top: -0.2rem;
  left: 0.2rem;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  transition: background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  animation: animateButton 0.1s linear;
}

.updateDetailsButton:hover {
  background-color: white;
  color: black;
}

.UpdateFormHeading {
  position: absolute;
  top: 0;
}

.Form {
  position: relative;
  top: 3.5rem;
}
