body {
  background-color: #286da8;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 11.6vw;
  background-color: #2a1b3c;
  z-index: 1000;
  position: absolute;
  top: 152.5vw;
  margin-bottom: 0;
  box-sizing: border-box;
}

.Div {
  text-align: center;
  font-size: 1vw;
}

.H2 {
  color: white;
  font-weight: 400;
}

.H3 {
  color: white;
  font-weight: 200;
}
