@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.SingleLeaveRequest {
  border: 1px solid white;
  width: 13vw;
  margin: 2rem 3.67rem;
  display: block;
  text-align: center;
  position: relative;
  height: 15vw;
  border-radius: 5px;
  border-color: transparent;
  transition: all 0.2s linear;
}

/* .SingleLeaveRequest:hover {
  bottom: 0.03vw;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px,
    rgba(0, 0, 0, 0.18) 0px 4px 11px;
} */

.SingleLeaveRequest h3 {
  font-family: 'Merriweather', serif;
}

.dateHeading {
  position: relative;
  top: 0.8vw;
}

.SingleLeaveRequest p {
  position: relative;
  top: 1.5vw;
}

.InnerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
  border-radius: 5px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.SingleLeaveRequest:hover .InnerCard {
  transform: rotateY(180deg);
}

.CardFront,
.CardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibilty: hidden;
  backface-visibility: hidden;
}

.CardFront {
  background-color: rgb(138, 147, 211);
  color: white;
  border-radius: 5px;
}

.CardBack {
  background-color: rgb(138, 147, 211);
  color: white;
  transform: rotateY(180deg);
  border-radius: 5px;
}

.buttonContainer {
  position: absolute;
  width: 100%;
  bottom: 2.2rem;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.ApproveButton {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 1.1rem;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border: none;
  width: 49%;
  background-color: transparent;
  transition: all 0.2s linear;
  padding: 0.5rem 0.3rem;
}

.RejectButton {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.1rem;
  box-sizing: border-box;
  border-bottom-right-radius: 5px;
  text-align: center;
  border: none;
  width: 49%;
  padding: 0.5rem 0.3rem;
  background-color: transparent;
  transition: all 0.2s linear;
}

.ApproveButton:hover {
  width: 100%;
  cursor: pointer;
  text-align: center;
  border-bottom-right-radius: 5px;
  background-color: rgb(0, 184, 0);
}

.ApproveButton:hover ~ .RejectButton {
  visibility: hidden;
  width: 0px;
}

.RejectButton:hover {
  width: 100%;
  cursor: pointer;
  text-align: center;
  border-bottom-left-radius: 5px;
  background-color: red;
}

.RejectButton:hover ~ .ApproveButton {
  visibility: hidden;
  width: 0px;
}
